
$dark: #555555;
$gray: #D9D9D9;
$gray_type_2: #585858;
$blue: #0192AC;
$white: #fff;
$heeder_user: #729C3B;
$heeder_admin: #E6B308;
$pay_block: #0192AC ;


$width_user_container: 1262px;
$border_radius_block: 5px;

$h2:16px;
$base_text_size:16px;
$header_text_size: 24px;
$pay_text_size: 32px;
$btn_text_size: 24px;

$padding_block:22px;
$padding_text_block: 22px;