
$dark: #555555;
$gray: #D9D9D9;
$gray_type_2: #585858;
$blue: #0192AC;
$white: #fff;
$green: #729C3B ;
$color_header_user: #729C3B;
$color_header_admin: #E6B308;
$pay_block: #0192AC ;


$width_user_container: 1262px;
$border_radius_block: 5px;
$img_width:75px;
$img_height: 106px;
$img_present_width: 173px;
$img_present_height: 262px;

$h2:16px;
$base_text_size:16px;
$header_text_size: 24px;
$pay_text_size: 32px;
$btn_text_size: 24px;

$padding_block:22px;
$padding_text_block: 22px;
$padding_header_block:10px;
$padding_cell_table: 8px;
$grid_gap_global:20px;

