@font-face {
  font-family: "inter-black";
  src: url("../fonts/inter/static/inter-black.ttf") format("truetype") local("inter-black");
}
@font-face {
  font-family: "inter-bold";
  src: url("../fonts/inter/static/inter-bold.ttf") format("truetype");
}
@font-face {
  font-family: "inter-regular";
  src: url("../fonts/inter/static/inter-regular.ttf") format("truetype");
}
ul, ol, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
} /*@import "normalize.css";
@import "reset.css";*/
.grid {
  display: grid;
}

.dropdown-menu {
  min-width: 267px;
}

/*.viewer_doc {
    font-size: $base_text_font;

    h2 {
        font-size: $header_text_font;
    }

    #grid_content {
        display: grid;
        grid-template-columns: 200px 900px;
        grid-template-rows: auto 20px;
        margin-top: 12px;
        gap: 12px;

        .grid_view_img {

        }
    }
}*/
.viewer_doc .container_global {
  grid-auto-flow: row;
  grid-gap: 20px;
  width: 1262px;
}
.viewer_doc .container_global .header {
  padding: 10px;
  background-color: #729C3B;
  text-align: center;
  color: #fff;
  font-size: 24px;
  border-radius: 5px;
}
.viewer_doc .container_global .container_data {
  grid-template-columns: 1fr 4fr 300px;
  grid-gap: 24px;
}
.viewer_doc .container_global .item_text {
  background: #fff;
  border: 1px solid #585858;
  border-radius: 5px;
  padding: 22px;
}
.viewer_doc .container_global .item_price {
  font-size: 32px;
  color: #fff;
  padding: 22px;
  align-items: start;
  background-color: #0192AC;
  border-radius: 5px;
}
.viewer_doc .container_global .item_price .container_item_price .text_pay {
  display: block;
  margin-bottom: 20px;
}
.viewer_doc .container_global .item_price .container_item_price .btn_pay {
  background: #fff;
  border-radius: 5px;
  padding: 5px;
  font-size: 24px;
  color: #0192AC;
  font-style: normal;
  font-weight: 700;
}

footer {
  flex: 0 0 auto;
}
footer .footer_content {
  text-align: center;
}
footer .footer_content .footer_menu {
  background: #555555;
  padding: 18px 0px;
}
footer .footer_content .footer_menu .menu_text {
  width: 990px;
  margin: 0 auto;
  text-align: center;
}
footer .footer_content .footer_menu .menu_text ul li {
  list-style-type: none;
  display: inline;
  margin-right: 21px;
}
footer .footer_content .footer_menu .menu_text ul li a {
  font-weight: 700;
  font-size: 16px;
  color: #fff;
}
footer .footer_content .footer_politics {
  background-color: #D9D9D9;
  padding: 15px 0px;
}
footer .footer_content .footer_politics h2 {
  font-size: 16px;
}
footer .footer_content .footer_copyright {
  padding: 6px 0px;
}

/* Large desktops and laptops */
/* Portrait tablets and medium desktops */
/* Portrait tablets and small desktops */
/* Landscape phones and portrait tablets */
/* Landscape phones and smaller */
/* Small phones */
