@font-face {
    font-family: 'inter-black';
    src: url('../fonts/inter/static/inter-black.ttf') format('truetype') local('inter-black');
}
@font-face {
    font-family: 'inter-bold';
    src: url('../fonts/inter/static/inter-bold.ttf') format('truetype');
}
@font-face {
    font-family: 'inter-regular';
    src: url('../fonts/inter/static/inter-regular.ttf') format('truetype');
}

/* Move down content because we have a fixed navbar that is 50px tall */
html, body {
    /*padding-top: 50px;
    padding-bottom: 20px;*/
    font-family: inter-regular, Tahoma;
    /*
    flex-direction: column;*/
    display: flex;
    height: 100%;
}
.global-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.banner{
    flex: 0 0 auto;
}
.banner-menu
{
    flex: 0 0 auto;
    align-items:center;
}
.body-content {
    /*padding-left: 15px;
    padding-right: 15px;
    min-height:605px;*/
    padding: 0;
    flex: 1 0 auto;
    
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set widths on the form inputs since otherwise they're 100% wide */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
input[type="select"] {
    max-width: 280px;
}


#header {
    background: #E6B308;
    border: 1px solid #E6B308;
    border-radius: 5px;
    width: 100%;
    padding:10px 0px 10px 0px;

    color:white;
}

    #header h3 {
        margin: 0px;
        padding: 0px;
        font-size: 24px;
    }

/*Меню*/
.navbar {
   
    min-height: 50px;
    margin-bottom: 12px;
    border: 1px solid transparent;
}

.navbar-inverse {
    background-color: #0192AC;
    border-color: #0192AC;
}
    .navbar-inverse .navbar-brand {
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav > li > a {
        color: #ffffff;
    }
    .navbar-inverse .navbar-nav > .open > a, .navbar-inverse .navbar-nav > .open > a:hover, .navbar-inverse .navbar-nav > .open > a:focus {
        color: #0192AC;
        background-color: #fff;
    }
.navbar-nav > li > .dropdown-menu {
    padding:15px;
}
/* Grid For ALL BEGIN */
#grid_content grid_form_imput {
    background: #D9D9D9;
    border: 1px solid #B4B4B4;
}
/* Grid For ALL END */

/* Grid  page Admin Doc Add begin */
.admin_doc #grid_content {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 258px 64px 1fr;
    margin-top: 12px;
}
    .admin_doc #grid_content .grid_input_data {
        display: grid;
        grid-template-columns: 295px 1fr;
    }
        .admin_doc #grid_content .grid_input_data .item1 {
            border: 1px solid #B4B4B4;
            border-radius: 0px 5px 5px 0px;
            padding: 25px;
        }
        .admin_doc #grid_content .grid_input_data .item2 {
            display: grid;
            grid-template-columns: repeat(6,1fr);
            
            gap: 20px;
            border: 1px solid #B4B4B4;
            border-radius: 0px 5px 5px 0px;
            background-color: #D9D9D9;
            padding: 25px;
        }

    .admin_doc grid_form_imput {
        grid-area: form_imput;
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 960px;
        box-sizing: border-box;
        height: 367px;
        margin-top: 12px;
        margin-bottom: 12px;
        background: #D9D9D9;
        border: 1px solid #B4B4B4;
        border-radius: 5px;
        padding: 30px;
    }

.admin_doc #grid_content .grid_filter_data {
    display: flex;
    justify-content: space-between;
    background-color: #D4EDDA;
    align-items:center;
    padding: 0px 25px;
}

.admin_doc #grid_content .grid_view_data {
    display: grid;
    grid-template-columns: 295px 1fr;
    border: 1px solid #585858 !important;
}

    .admin_doc #grid_content .grid_view_data .alter_row_style {
        background: #fff;
        border: 1px solid #B4B4B4;
    }

    .admin_doc #grid_content .grid_view_data .item_row_style {
        background: #D4EDDA;
        border: 1px solid #B4B4B4;
    }

/* Grid  page Admin Doc Add  end */

/* Grid  page Admin TAG Add begin alter_row_style */
.tags #grid_content {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "form_imput";
    justify-content: center;
}

    .tags #grid_content .alter_row_style {
        background: #fff;
        border: 1px solid #B4B4B4;
    }

    .tags #grid_content .item_row_style {
        background: #D4EDDA;
        border: 1px solid #B4B4B4;
    }

    .tags #grid_content grid_form_imput {
        grid-area: form_imput;
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 960px;
        box-sizing: border-box;
        height: 367px;
        margin-top: 12px;
        margin-bottom: 12px;
        /*background: #D9D9D9;
        border: 1px solid #B4B4B4;*/
        border-radius: 5px;
        padding: 30px;
    }

        .tags #grid_content grid_form_imput .grid_view_data .table {
            border: 1px solid #B4B4B4 !important;
        }
    /* Grid  page Admin TAG Add  end */

    /* Grid  page Admin REGISTER  begin */
    .register_user #grid_content {
        height: 100%;
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto;
        grid-template-areas: "form_imput";
        justify-content: center;
    }
        .register_user #grid_content grid_form_imput {
            grid-area: form_imput;
            display: grid;
            grid-template-columns: auto;
            width: 960px;
            box-sizing: border-box;
            height: 367px;
            margin-top: 12px;
            margin-bottom: 12px;
            background: #D9D9D9;
            border: 1px solid #B4B4B4;
            border-radius: 5px;
            padding: 30px;
        }
/* Grid  page Admin REGISTER  end */

/* Grid  page Admin ManageRoles  begin */
.manage_roles #grid_content {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "form_imput";
    justify-content: center;
}

    .manage_roles #grid_content .alter_row_style {
        background: #fff;
        border: 1px solid #B4B4B4;
    }

    .manage_roles #grid_content .item_row_style {
        background: #D4EDDA;
        border: 1px solid #B4B4B4;
    }

    .manage_roles #grid_content grid_form_imput {
        grid-area: form_imput;
        display: grid;
        grid-template-columns: 1fr 2fr;
        width: 960px;
        box-sizing: border-box;
        height: 367px;
        margin-top: 12px;
        margin-bottom: 12px;
        background: #D9D9D9;
        border: 1px solid #B4B4B4;
        border-radius: 5px;
        padding: 30px;
    }

        .manage_roles #grid_content .grid_input_data .btn {
            margin-top: 22px;
        }
/* Grid  page Admin ManageRoles  end */

/* Grid  page Admin Users_And_Roles  begin */
.users_and_roles #grid_content {
    height: 100%;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: "form_imput";
    justify-content: center;
}

    .users_and_roles #grid_content .alter_row_style {
        background: #fff;
        border: 1px solid #B4B4B4;
    }

    .users_and_roles #grid_content .item_row_style {
        background: #D4EDDA;
        border: 1px solid #B4B4B4;
    }

    .users_and_roles #grid_content grid_form_imput {
        grid-area: form_imput;
        display: grid;
        grid-template-columns: 1fr 1fr;
        width: 960px;
        box-sizing: border-box;
        height: 490px;
        margin-top: 12px;
        margin-bottom: 12px;
        background: #D9D9D9;
        border: 1px solid #B4B4B4;
        border-radius: 5px;
        padding: 10px 30px 10px 30px;
    }
        .users_and_roles #grid_content grid_form_imput .grid_input_data {
            display: grid;
            grid-template-columns: auto;
            /*grid-template-rows: auto;*/
            align-items: start;
            justify-items:start;
             grid-template-rows: repeat(2, 45px);
            grid-row-gap: 10px;
        }
        .users_and_roles #grid_content grid_form_imput .grid_view_data {
            display: grid;
            grid-template-columns: auto;
            /*grid-template-rows: auto;*/
            /*grid-template-rows: repeat(3, auto-fit);*/
            grid-template-rows: 48px 54px 210px 45px;
              /*  grid-auto-rows: minmax(45px,auto);*/
            grid-row-gap: 10px;
            align-items: start;
        }
/* Grid  page Admin Users_And_Roles  end */

#content_boot {
}

    #content_boot .card-body {
        box-sizing: border-box;
        height: 367px;
        margin-top: 12px;
        background: #D9D9D9;
        border: 1px solid #B4B4B4;
        border-radius: 5px;
        padding: 30px;
    }

#status_data {
    background: #D9D9D9;
    border: 1px solid #B4B4B4;
    border-radius: 5px;
    width: 100%;
    padding: 10px 30px 0px 30px;
    color: #555555;
}

    #status_data h3 {
        margin: 0px;
        padding: 0px;
        font-size: 24px;
    }

footer {
    flex: 0 0 auto;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
    /*.jumbotron {
        margin-top: 20px;
    }
    .body-content {
        padding: 0;
    }*/
}

